<settings>
	<setting propertyKey="@Properties.AppVersion" title="@Strings.AppNameVersion">
		<settingConfig type="alphaNumeric" readonly="true"/>
	</setting>

    <setting propertyKey="@Properties.PanelOrder" title="@Strings.PanelOrder">
		<settingConfig type="alphaNumeric" required="true"/>
    </setting>

    <setting propertyKey="@Properties.SummaryMode" title="@Strings.SummaryMode">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Auto</listEntry>
            <listEntry value="1">@Strings.PerHour</listEntry>
            <listEntry value="2">@Strings.PerDay</listEntry>
        </settingConfig>
    </setting>
</settings>
