<settings>
	<setting propertyKey="@Properties.AppVersion" title="@Strings.AppNameVersion">
		<settingConfig type="alphaNumeric" readonly="true"/>
	</setting>

    <setting propertyKey="@Properties.PanelOrder" title="@Strings.PanelOrder">
		<settingConfig type="alphaNumeric" required="true"/>
    </setting>

    <setting propertyKey="@Properties.SummaryMode" title="@Strings.SummaryMode">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Auto</listEntry>
            <listEntry value="1">@Strings.PerHour</listEntry>
            <listEntry value="2">@Strings.PerDay</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.GlanceProjectionType" title="@Strings.GlanceProjectionType">
        <settingConfig type="list">
            <listEntry value="0">@Strings.LastCharge1</listEntry>
            <listEntry value="1">@Strings.LongTermAvg</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.HowHandleFullArray" title="@Strings.HowHandleFullArray">
        <settingConfig type="list">
            <listEntry value="0">@Strings.HowHandleFullArrayDiscard</listEntry>
            <listEntry value="1">@Strings.HowHandleFullArrayAverage</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.BuiltinPageIndicator" title="@Strings.BuiltinPageIndicator">
        <settingConfig type="boolean" required="true"/>
    </setting>

    <setting propertyKey="@Properties.MaxRuntime" title="@Strings.MaxRuntime">
		<settingConfig type="Numeric" required="true" min="250" max="900"/>
    </setting>

    <setting propertyKey="@Properties.MaxArrays" title="@Strings.MaxArrays">
        <settingConfig type="list">
            <listEntry value="2">1000</listEntry>
            <listEntry value="3">1500</listEntry>
            <listEntry value="4">2000</listEntry>
            <listEntry value="5">2500</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.BGInterval" title="@Strings.BGInterval">
		<settingConfig type="Numeric" required="true"/>
    </setting>
</settings>
